<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Stock List</h2>
    <!-- 총 개수 표시 -->
    <p class="text-center">Total number of stocks: <span th:text="${stockCount}"></span></p>
    <!-- Delete 버튼 추가 -->
    <div class="text-center mb-3">
        <button class="btn btn-danger" onclick="deleteAllStocks()">Delete All Stocks</button>
    </div>
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ISIN Code</th>
            <th scope="col">Short Code</th>
            <th scope="col">Item Name</th>
            <th scope="col">Market Category</th>
            <th scope="col">Close Price</th>
            <th scope="col">Change</th>
            <th scope="col">Fluctuation Rate</th>
            <th scope="col">Market Capitalization</th>
            <th scope="col">Base Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stock : ${stocks}">
            <td th:text="${stock.isinCd}"></td>
            <td th:text="${stock.srtnCd}"></td>
            <td th:text="${stock.itmsNm}"></td>
            <td th:text="${stock.mrktCtg}"></td>
            <td th:text="${stock.clpr}"></td>
            <td th:text="${stock.vs}"></td>
            <td th:text="${stock.fltRt}"></td>
            <td th:text="${stock.mrktTotAmt}"></td>
            <td th:text="${stock.basDt}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function deleteAllStocks() {
        fetch('/delete-all-stocks', {
            method: 'DELETE'
        })
            .then(response => {
                if (response.ok) {
                    alert('All stock data deleted successfully.');
                    window.location.reload(); // 페이지 새로고침
                } else {
                    alert('Failed to delete stock data.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while deleting stock data.');
            });
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
